.timeDisplay {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.timeDisplay p {
  font-size: 1.3rem;
  padding: 0 0.4rem;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
}
