.categorySection {
  /* border: 1px solid black; */
  height: 100%;
}

.categorySection h1 {
  font-size: 2rem;
  text-align: center;
  color: white;
  margin-top: 1rem;
}

.inputSection {
  margin-top: 1rem;
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 1rem;
}

.categoryInputStyle {
  margin: 0;
  border: none;
  border-bottom: 1px solid white;
  padding: 0.3rem;
  border-radius: 2px;
  font-size: 1.7rem;
  color: white;
}

.categoryInputStyle::placeholder {
  color: white;
  opacity: 0.4;
}

.btnAddCategory {
  color: var(--normalTextColor);
  font-size: var(--normalTextFontSize);
  border: none;
  cursor: pointer;
  border-bottom: 0.5px solid rgba(255, 255, 255, 1);
  border-top: 0.5px solid rgba(255, 255, 255, 1);
  /* border-left: 0.5px solid rgba(255, 255, 255, 1); */

  border-radius: 8px;
  padding: 0.3rem 0.5rem;
  margin-left: 1rem;
}

.deleteIconCategory {
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
}

.allCategoryDisplaySection {
  width: 250px;
  /* border: 1px solid red; */
  height: 500px;
  margin: 2rem auto 0 auto;
  overflow-y: scroll;
  scrollbar-color: rebeccapurple green;
}

/* .allCategoryDisplaySection::-webkit-scrollbar-thumb {
  background-color: red;
  color: yellow;
  width: 15px;
} */

.allCategoryDisplaySection h2 {
  color: white;
  font-size: 1.5rem;
  text-align: center;
}

.singleCategoryDisplayWithDeleteButton {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  border-bottom: 0.5px solid wheat;
  margin-bottom: 1rem;
}

.singleCategoryDisplayWithDeleteButton p {
  font-size: 1.7rem;
  color: white;
}
